.container {
    max-width: 480px;
    padding: 0 16px;
    margin: 0 auto;

    @media (min-width:768px) and (max-width:1439px) {
        max-width: 768px;
    }

    @media (min-width: 1440px) {
        max-width: 1128px;
    }
}

.section {
    padding: 96px 0 96px 0;
}

@media (min-width:768px) and (max-width:1439px) {

    .container { 
        max-width: 768px;
    }
}

@media (min-width: 1440px) {
    .section {
        padding: 148px 0 92px 0;
    }

    .container { 
        max-width: 1128px;
    }
}