@use "../utils/function" as fn;
@use "../utils/variables";
@use "sass:map";
@use "sass:list";

.social-list {
    display: flex;
    justify-content: space-between;
}

.social-link {
    display: flex;
    padding: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: fn.get-color('brand-primary');
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: fn.get-color('success');
        transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.social-svg {
    fill: fn.get-color('white-bg');
    width: 16px;
    height: 16px;
}