@use "../utils/function" as fn;
@use "../utils/variables";
@use "sass:map";
@use "sass:list";


.footer {
    background-color: fn.get-color("dark");
    color: fn.get-color("light");
    text-align: center;
}

.logo.footer__logo {
    display: block;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.footer__description {
    text-align: start;
}

.footer__description-b,
.footer__form-input {
    margin-bottom: 16px;
}

.footer__description-b {
    font-weight: 500;
}

.footer__form-input {
    display: block;
    text-align: start;
    padding: 8px 16px;
    border: 1px solid fn.get-color('white-bg');
}

.footer__social-wrapper {
    width: 208px;
    margin-bottom: 72px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer__logo-wrapper {
        margin-bottom: 72px;
    }

    .footer__social-wrapper {
        margin: 0 auto;
        margin-bottom: 72px;
    }

    .footer__form-input {
        width: 100%;
    }

    .footer__form-button {
        margin: 0 auto;
    }
}

@media (min-width: 768px)  {
    .footer__wrapper {
        display: flex;
        justify-content: center;
    }

    .footer__logo-wrapper {
        width: 264px;
    }

    .footer__description-b,
    .logo.footer__logo {
        text-align: start;
    }

    .footer__social-wrapper {
        width: 208px;
        margin-bottom: 30px;
    }

    .footer__form-input {
        width: 264px;
        margin: 0 24px 0 0;
    }

    .input-werapper {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .footer__logo-wrapper {
        margin-right: 24px;
    }

    .footer__wrapper {
        flex-wrap: wrap;
    }

    .footer__form {
        margin: 72px 50px 0 0;
    }
}

@media (min-width: 1440px) {
    .footer__social-wrapper {
        margin: 0 80px 0 120px;
    }

   .footer__form {
        display: flex;
        flex-direction: column;
    }
}