@use "../utils/function" as fn;
@use "../utils/variables" as var;
@use "../utils/mixin" as m;
@use "sass:map";
@use "sass:list";

.hero {
    background: var.$bg-gradient, 
    url("/src/img/hero-bg-mobile-1x.jpg") center / cover no-repeat;
    color: fn.get-color("white-bg");

    @include m.retina(2) {
        background: var.$bg-gradient, 
        url("/src/img/hero-bg-mobile-2x.jpg") center / cover no-repeat;
    }

    @include m.retina(3) {
        background: var.$bg-gradient, 
        url("/src/img/hero-bg-mobile-3x.jpg") center / cover no-repeat;
    }
}  

.hero__wrapper {
    padding: 72px 0;
    text-align: center;
}

.hero__title {
    width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: calc(40 / 36);
    letter-spacing: 0.72px;
    text-align: center;
}

@media (min-width:768px) {
    .hero__title {
        width: 496px;
        font-size: 56px;
        line-height: calc(60 / 56);
        letter-spacing: 1.12px;
        margin-bottom: 48px;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .hero {
        background: var.$bg-gradient, 
        url("/src/img/hero-bg-tablet-1x.jpg") center / cover no-repeat;

        @include m.retina(2) {
            background: var.$bg-gradient, 
            url("/src/img/hero-bg-tablet-2x.jpg") center / cover no-repeat;
        }
    
        @include m.retina(3) {
            background: var.$bg-gradient, 
            url("/src/img/hero-bg-tablet-3x.jpg") center / cover no-repeat;
        }
    } 

    .hero__wrapper {
        padding: 112px 0;
    }

    .hero__title {
        margin-bottom: 36px;
    }
}

@media (min-width: 1440px) {
    .hero {
        background: var.$bg-gradient, 
        url("/src/img/webp/hero-bg-desktop-1x.webp") center / cover no-repeat;

        @include m.retina(2) {
            background: var.$bg-gradient, 
            url("/src/img/hero-bg-desktop-2x.jpg") center / cover no-repeat;
        }
    
        @include m.retina(3) {
            background: var.$bg-gradient, 
            url("/src/img/hero-bg-desktop-3x.jpg") center / cover no-repeat;
        }
    }    

    .hero__wrapper {
        padding: 188px 0;
    }

    .hero__title {
        margin-bottom: 48px;
    }
}